* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: hsla(240, 6%, 21%, 1);
  --dark-color-bg: #141416;
  --dark-color-button-bg: #29292e;
  --light-color: #ffffff;
}

.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(6rem, 6rem + 10vw, 12.6rem);
  color: var(--primary-color);
}

body .page.darkMode {
  color: var(--light-color);
}

.page {
  display: grid;
  height: 100vh;
}

.page.darkMode {
  background: var(--dark-color-bg);
}

body .page.darkMode {
  color: var(--light-color);
}

.theme-button {
  align-self: center;
  justify-self: end;
  padding: 0 2rem 0 0;
}

.theme-button button {
  background: transparent;
  border: none;
}

.timer-wrapper {
  align-self: center;
  justify-self: center;
}

.timer-wrapper .timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-timer {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;

  margin-top: 4.8rem;
}

.buttons-timer button {
  border: none;
  background: transparent;
}

button svg {
  width: clamp(1rem, 2rem + 6vw, 4.8rem);
}

.page.darkMode button svg path {
  fill: var(--light-color);
}

.buttonsSounds-wrapper {
  align-self: flex-start;
  justify-self: center;

  display: grid;
  grid-template:
    "A B"
    "C D";
  gap: 3.2rem;
}
.buttonSound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.page.darkMode .buttonSound {
  background-color: var(--dark-color-button-bg);
}

.buttonSound.soundOn,
.page.darkMode .buttonSound.soundOn {
  background-color: #02799d;
}

.buttonSound.soundOn svg path {
  fill: #ffffff;
}

.page.darkMode .buttonSound.soudOn svg path {
  fill: var(--light-color);
}

.buttonSound.soundOn input {
  -webkit-appearance: none;
  background: white;
  outline: none;
  height: 0.8rem;
  border-radius: 0.9rem;
}

.buttonSound.soundOn input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;

  background: white;
}

.buttonSound.soundOn input::-moz-range-thumb {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;

  background: white;
}

button {
  cursor: pointer;
}

button.buttonSound {
  padding: clamp(1rem, 1rem + 2vw, 2.4rem);
  border-radius: 2.4rem;

  border: none;
  transition: transform 0.3s;
}

button.buttonSound:hover {
  transform: scale(1.1);
}

button.buttonSound input {
  max-width: 9rem;
}

@media (min-width: 768px) {
  .page {
    grid-template-areas:
      "A A"
      "B C";
    column-gap: 17.2rem;
    padding-inline: 3rem;
  }

  .theme-button {
    grid-area: A;
    padding: 0 6rem 0 0;
  }

  .timer-wrapper {
    grid-area: B;
    align-self: flex-start;
    justify-self: end;
    padding: 2rem;
  }

  .buttonsSounds-wrapper {
    grid-area: C;
    align-self: flex-start;
    justify-self: start;
  }
}

.timer-wrapper,
.buttonsSounds-wrapper {
  padding: 2rem;
}

@media (max-width: 767px) {
  .page {
    padding-inline: 2rem;
    max-width: 37.5rem;
    margin: 0 auto;
    grid-template-areas:
      "A"
      "B"
      "C";
    grid-template-rows: 7vh 40vh;
  }
}
